@{
    ViewData["Title"] = "Home Page";
}

@model Survey

<div class="text-center">
    <h1>Survey</h1>
    <form action="process" method="post">
        <div>
            <label for="Name">Name</label>
            <input asp-for="Name">
            <span asp-validation-for="Name" class="text-danger"></span>

            <label for="Location">Dojo Location</label>
            <select asp-for="Location">
                <option value="San Jose">San Jose</option>
                <option value="Chicago">Chicago</option>
                <option value="New York">New York</option>
            </select>
            <span asp-validation-for="Location" class="text-danger"></span>

            <label for="Language">Favorite Language</label>
            <select asp-for="Language">
                <option value="c#">C#</option>
                <option value="Python">Python</option>
                <option value="Java">Java</option>
            </select>
            <span asp-validation-for="Language" class="text-danger"></span>
            
            <label for="Comment">Comment (optional)</label>
            <input asp-for="Comment">
            <span asp-validation-for="Comment" class="text-danger"></span>
        </div>
        <input type="submit" value="Submit">
    </form>
</div>
