<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Hello from the first page</h1>
    <form action="process" method="post">
        <div>
            <label for="Name">Name</label>
            <input type="text" name="Name" id="Name">

            <label for="Location">Dojo Location</label>
            <select name="Location" id="Location">
                <option value="San Jose">San Jose</option>
                <option value="Chicago">Chicago</option>
                <option value="New York">New York</option>
            </select>

            <label for="Language">Favorite Language</label>
            <select name="Language" id="Language">
                <option value="c#">C#</option>
                <option value="Python">Python</option>
                <option value="Java">Java</option>
            </select>
            
            <label for="Comment">Comment (optional)</label>
            <input type="text" name="Comment" id="NCommentame">
        </div>
        <input type="submit" value="Submit">
    </form>
</body>

</html>